# Bibliothèques de base
pandas
numpy
dotenv

# Reconnaissance vocale
azure-cognitiveservices-speech

# NER de texte
nltk
spacy
dateparser
datasets
transformers
sentencepiece
torch

# avec OpenMeteo
openmeteo-requests
requests-cache
retry-requests

# Pour la geolocalisation
geopy

# Pour la database
sqlalchemy
psycopg2

# Pour l'api
fastapi[standard]
pydub